.h1and2{

	font-family: sans-serif;

}

.nav{
	position: fixed;
	display: block;
	padding: 12 px;
	float: right;
	color: black;
	background: blue;
	}

.nav{
	border: plain black 1px;

}

.Paragraph{
	font-family: sans-serif;
	font-size: 18px

}

.pr1{
	display: inline-block;
	margin: 8px;
	padding: 12px;
	border:solid black 1px;
	background-color: black;

}