body {
  padding: 0;
  margin: 0;
}
header {
  text-align: center;
  padding: 2em 0em;
  width: 100%;
  height: 100%;
  background-image: url("../img/pwall.jpg");
}
@font-face {
  font-family: 'aquaFont';
  src: url("../font/aqua.ttf");
}
@font-face {
  font-family: 'aquaFont';
  src: url("../font/aqua.ttf");
  font-weight: bold;
}
header h1 {
  font-size: 80px;
  font-family: aquaFont, sans-serif;
  background-color: rgba(255,255,255,0.4);
  color: #283833;
  padding: 1em;
  display: block;
  margin-left: 0;
  margin-bottom: 0;
}
header h3 {
  font-size: 60px;
  font-family: aquaFont, sans-serif;
  background-color: rgba(255,255,255,0.4);
  color: #283833;
  padding: 0.5em;
  display: block;
  margin-top: 0;
}
.nav {
  background-color: #32544a;
  color: #fff;
  margin: 0em;
  text-align: center;
  list-style: none;
}
.nav > li {
  display: inline-block;
}
.nav > li > a {
  font-family: aquaFont, sans-serif;
  font-size: 30px;
  font-style: bold;
  color: #fff;
  padding: 1em;
  text-decoration: none;
}
@media (max-width: 800px) {
  .nav {
    text-align: left;
    display: none;
  }
  .nav > li {
    display: block;
  }
  .nav > li > a {
    padding: 0em;
  }
  .navbtn {
    background-color: #32544a;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    font-family: aquaFont, sans-serif;
    text-decoration: none;
    display: block;
  }
  .navbtn:before {
    content: "Menu";
  }
}
img {
  max-width: 20%;
}
