// each li width of at least 200px and a height of at least 50px
header
	text-align center
	padding 2em
	
header img
	width 100%
	height 100%
	opacity .4
	position absolute
	top 0
	z-index -1


nav ul li
	display inline
	color #064C96
	background-color #FCFCFC
	margin 1em
	width 200px
	height 50px
	font-size 20px
	font-style bold


nav
	position fixed top
	background-color #FCFCFC
	margin -8
	text-align center
	padding 1em








// h2
// 	font-family sans-serif
	

// .hideBox
// 	background-color: black
// 	color white
// 	display none
// 	border solid, green, 1em
// 	padding 2em
// 	margin 1em